.
_site
.sass-cache
Gemfile.lock
*.gem
.jekyll-cache
.jekyll-cache/*
/scripts/templates/__pycache__
/scripts/templates/__pycache__/*
*.pyc
/scripts blog/templates/__pycache__
/scripts blog/templates/__pycache__/*

/scripts blog/templates/__pycache__
/scripts blog/templates/__pycache__
scripts blog/templates/__pycache__/__init__.cpython-39.pyc
scripts blog/templates/__pycache__/writeups.cpython-39.pyc
scripts blog/templates/__pycache__/__init__.cpython-39.pyc
